*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
html, body{
    height: 100%;
}
*/

.landing{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./background.jpg');
    width: 100vw; /* 보이는 화면 적용 단위 viewpoint*/
    height: 100vh;
    color: white;
}

.landing .main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 638px;
    text-align: center;
}

.landing .main a{
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 50px;
    padding: 10px 20px;
    display: inline-block;
}


.landing .main h1{
    font-family: 'Dancing_Script', cursive;
    font-size: 65px;
    margin-bottom: 16px;
}

.landing .main p{
    font-family: 'Malgun Gothic';
    font-size: 24px;
    margin-bottom: 16px;
}
